

    <div class="row">
        <div class="col-sm-12">
       

            <div ng-controller="mainCtrl" class="github-repositories-search">
                <h3>Github Repositories Search</h3>
                    <div class="input-group stylish-input-group">
                        <input type="Text" class="form-control" placeholder="Search" ng-model="qSearch" ng-keypress="keyEnterSearch($event)">
                        <span class="input-group-addon">
                            <button ng-click="clickSearch()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>


                    <ul class="list-inline row text-center text-lg-left">
                        <li class="list-inline-item col-lg-3 col-md-4 col-xs-6" ng-repeat="item in arrRepositoriesSearch.items">
                            <div  repositories-search-result repositories-search-object="item" is-show-bookmark-btn="true"></div>
                        </li>
                    </ul>



                </div>


            </div>
    </div>
