@{
    ViewData["Title"] = "Github Repositories Search";
}
<div ng-view></div>
@*@<div ng-controller="mainCtrl">
        <h3>Github Repositories Search</h3>
        <input type="Text" ng-model="qSearch" ng-keypress="keyEnterSearch($event)">
        <button ng-click="clickSearch()">Search</button>
        <button ng-click="GetBookMarkGithubRepository()">view all bookmark</button>

        <div ng-repeat="item in arrRepositoriesSearch.items">
            <div repositories-search-result repositories-search-object="item"></div>
        </div>
    </div>

    @section Scripts{
        <script src="~/js/GithubRepositoriesSearch.js"></script>
    }

    *@

